<nav id="colorlib-main-menu" role="navigation">
  <ul>
    <% menus.each do |menu|  %>
      <li <%= "class=colorlib-active" if current_page?(menu.url) %> ><a href="<%= menu.url %>" <%= "target=#{menu.target}" if !menu.target.nil? && !menu.target.empty?  %>><%= menu.title %></a></li>
    <% end %>
  </ul>
</nav>