<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row d-flex">
      <div class="col-xl-8 py-5 px-md-5">
        <div class="row pt-md-4">

          <%= render @posts %>

        </div><!-- END-->
        <div class="row">
          <div class="col">

            <%= will_paginate @posts, renderer: 'PaginationHelper::LinkRenderer', previous_label: '<', next_label: '>', class: "block-27" %>

          </div>
        </div>
      </div>
      <%= render('shared/sidebar') %>
    </div>
  </div>
</section>