// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-entry {
  .img {
    background-image: url("/images/tmp/image_11.jpg");
  }
}

.block-27 {
  a {
    &:hover {
      color: #fff;
      border-color: #4bc9ff;
      background-color: #4bc9ff;

      &.disabled {
        color: #bfbfbf;
      }
    }

    &.disabled {
      color: #bfbfbf;
      border-color: #bfbfbf;
      background-color: transparent;
    }
  }
}

.editor {
  min-height: 300px;
}

img {
  max-width: 100%;
}